[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/feanor/Desktop/Proton 7.0.desktop]
row=7
col=0

[/home/feanor/Desktop/Age of Empires II Definitive Edition.desktop]
row=5
col=0

[/home/feanor/Desktop/Tales of Berseria.desktop]
row=3
col=0

[/home/feanor/Desktop/Steam Linux Runtime - Soldier.desktop]
row=6
col=0

[/home/feanor/Desktop/Dwarf Fortress.desktop]
row=4
col=0

[/home/feanor/Desktop/steam.desktop]
row=8
col=0

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/feanor]
row=2
col=0

